html {
	background: url("../backgrounds/mainBackground.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
}

/* ========== Scrollbar ==========*/
::-webkit-scrollbar {
  width: 12px;
  background: none;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, red, orange);
  border-radius: 10px;
}
html {
	scroll-behavior: smooth;
}

#wrap {
	background: blanchedalmond;
	padding: 14em 1em;
}
.title{
	grid-area: title;
  }
  .elem1 {
	grid-area: elem1;
  }
  
  .elem2 {
	grid-area: elem2;
  }
  
  .elem3 {
	grid-area: elem3;
  }
  
  .elem4 {
	grid-area: elem4;
  }
  
  .elem5 {
	grid-area: elem5;
	justify-self: center;
  }
  .elem6{
	grid-area: elem6;
  }
  .elem7{
	grid-area: elem7;
  }
.form_task3 {
	background: blanchedalmond;
	color: black;
	padding: 20px;
	display: grid;
	grid-template-columns: repeat(2, minmax(200px, 400px));
	grid-template-rows: repeat(4, 1fr);
	grid-template-areas:
	  "title title"
	  "elem1 elem2"
	  "elem3 elem4"
	  "elem5 elem5"
	  "elem6 elem6"
	  "elem7 elem7";
	column-gap: 40px;
	row-gap: 30px;
	text-align: center;
  }
  
  .form_task3 h1 {
	font-size: 48px;
	font-weight: bold;
  }
  
  .grid_task3_elem {
	color: black;
	position: relative;
  }
  
  .input {
	background: saddlebrown;
	padding: 10px 10px;
	font-size: 16px;
	margin-top: 10px;
  }
  
  .max-size {
	width: 100%;
	background: transparent;
	border-bottom: 2px solid saddlebrown;
	transition: 0.5s;
	position: relative;
	z-index: 1;
	color: transparent;
  }
  
  .max-size:focus,
  .max-size:hover {
	background: saddlebrown;
	color: white;
  }
  
  
  .button1 {
	border-radius: 3px;
	color: white;
  }
  
  .button1:hover {
	background: saddlebrown;
	opacity: 0.6;
  }
  
  
  .grid_task3_elem h3 {
	position: absolute;
	top: 20px;
	left: 10px;
	transition: 0.5s;
	z-index: 0;
  }
  
  .max-size:focus+h3,
  .max-size:hover+h3 {
	top: -15px;
	left:10px;
  }


  .capcha {
    width: 350px;
    height: 80px;
    background: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    /*user-select: none;*/
}

.letter {
    font-size: 60px;
    position: absolute;
    color: #272848;
    display: block;
}

.input_capch {
    background: white;
    padding: 5px 10px;
}

.send_capch {
    color: saddlebrown;
    font-size: 20px;
    padding: 10px 20px;
    transition: 0.2s;
}

.send_capch:not(:disabled):hover {
    color: white;
    background: saddlebrown;
}

.singIn {
    color: white;
    background: saddlebrown;
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.2s;
}

.singIn:disabled,
.send_capch:disabled {
    background: grey;
}