@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&display=swap');


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
	font-family: "Roboto Slab", serif;
}
h1, h2 {
	font-family: "Merriweather", serif;
}
header, nav, footer, section {
	display: flex;
	align-items: center;
	justify-content: center;
}

header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	
	width: 100%;
	padding: 1em 8em;
	background: blanchedalmond;
	
	font-weight: bold;
}
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header a {
	text-decoration: none;
	color: black;
}
nav a {
	text-decoration: none;
	color: white;
	background: saddlebrown;
	padding: 1em 2em;
	margin: 0 1em;
	transition: 0.3s;
}

footer {
	padding: 3em;
	background: blanchedalmond;
	font-weight: bold;
}
#title {
	margin: 1em 0;
	font-size: 30px;
	text-align: center;
}
#wrap {
	margin: 2em 15%; 
	padding: 1em 2em;;
	flex-direction: column;
	background: #ffffff;
	box-shadow: 10px 20px rgba(0, 0, 0, 0.7);
	border-radius: 2em;
}
#wrapper, #desc {
	margin: 1em 1em 1em 1em;
	flex-direction: column;
}
#desc p {
	margin: 0 0 1em 0;
	text-align: justify;
}

.card {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 0 0 2em 0;
}
.card-txt {
	padding: 0 2em;
	text-align: justify;
}
.card-ph {
	position: relative;
	transition: 0.3s;
}
.card-ph:hover {
	transform: translate(-5px, -5px);
}
.card-ph img {
	border-radius: 1em;
	box-shadow: 5px 10px rgba(0, 0, 0, 0.7);
}
.card-ph h2 {
	position: absolute;
	bottom: 0.8em;
	left: 0.6em;
	
	background: rgba(0, 0, 0, 0.7);
	border-radius: 0.3em;
	padding: 0 0.5em;
	
	color: white;

}
.card-txt h2 {
	text-align: left;
	margin: 0 0 0.3em 0;
}
.dropbtn {
    background-color: saddlebrown;
    color: white;
    padding: 1em 2em;
	margin: 0 1em;
    font-size: 16px;
    border: none;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: blanchedalmond;
    min-width: 100px;
    z-index: 1;
	margin: 1em;
  }
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
	margin: 0;
	background-color: blanchedalmond;
  }
  .dropdown-content a:hover {background-color: #ddd;}
  .dropdown:hover .dropdown-content {display: block;}
  .dropdown:hover .dropbtn {
    background-color: blanchedalmond;
    color: black;
}
.Button3 { 
    background-color: saddlebrown;
    width: 150px;
}
.btn3 {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 150px;
    cursor: pointer;
    color: #FFF;
    transition: all 0.3s;
    position: relative;
}
.btn3 span {
    transition: all 0.3s;
}
.btn3::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-color: rgba(255,255,255,0.5);
    border-bottom-color: rgba(255,255,255,0.5);
    
}
.btn3:hover span {
    letter-spacing: 2px;
}
.btn3:hover::before {
    opacity: 1; 
    transform: scale(1, 1); 
}
.btn3::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.3s;
    background-color: rgba(255,255,255,0.1);
}
.btn3:hover::after {
    opacity: 0; 
    transform: scale(0.1, 1);
}